certifi==2022.6.15
numpy==1.21.5
pandas==1.4.2
pip==21.2.4
psycopg2-binary==2.9.3
python-dateutil==2.8.2
python-decouple==3.6
pytz==2021.3
requests==2.27.1
six==1.16.0
sqlalchemy==1.4.32
sqlalchemy-utils==0.38.2
urllib3==1.26.9
